
body {
    margin: 0;
    height: 100vh;
    background-image: url("images/backGrountCoffee.JPG");
    background-size: cover;
    background-position: center;
    font-family:Arial;
    direction:rtl;
}
.main{  
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    align-items:center;
    top:40%;
    position: relative;
}

.overStyle {
    color: black;
    background-color: tan;
    width: 180px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius:30px;
    text-align: center;
    font-family: Arial;
    position: static;
}
img{
    width:100px;
    height:100px;
}


.screenStart {
    background-color: #F5EFE6;
    color: #2c1f15;
    position: fixed;
    display: none;
    grid-template-rows: auto auto auto auto;
    row-gap:5px;
    column-gap:10px;
    justify-items: center;
    top: 50%;
    width: 450px;
    height: 350px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:20px;
    border-radius:15px;
}
.loginMode{
    background-color:#CBAFB2;
    color:#140a02;
}
    
.screenPart {
    display:flex;
    flex-direction:column;
    gap:5px;
    width:100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:1px;
}
#warningUserName , #warningPassAndUser , #warningEmail{
    display:none;
    color:red;
    font-size:10px;
    margin-top:0px;
    text-align:center;
}
#btnFinishReg,#btnBack{
    background-color:#2c1f15;
    color:white;
    width:80px;
    height:25px;
    text-align:center;
    border-radius:15px;
    border:none;
}
.inputTxt{
    width: 100px;
}
.main img:hover {
        width: 180px;
}