body{
        direction:rtl;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin:0;
        padding:20px;
        background-image: url("images/backGrountCoffee.JPG");

    }

  h1 {
    text-align: center;
        color:#F5EFE6;
  }

  #recommendations {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff3e6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  /* סגנון למוצר בודד */
  .recommendation-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #e0d4c4;
  }

  .recommendation-item:last-child {
    border-bottom: none;
  }
  .categoryButton{
            width:56px;
            height: 56px;
            background-color: #2B1B17;
            color: #F5EFE6;
            font-size: 28px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            margin-top: 10px;
            margin-right: 10px;
            align-self: flex-start;                 
    }
    #categoryPart{
        display:none;
        background-image: url("images/pinkBackGround.JPG");
        color: #2B1B17;
        position: fixed;
        top: 1%;
        bottom:1%;
        right: 0px;
        width: 20%;
        height: 98%;
        z-index: 1004;
        border-radius: 15px;
        row-gap: 10px;  
        right: 0.5%;
    }

    #categoryPart div{
        
        font-size: 25px;
        gap:10px;
        border-radius: 15px;
        width: 80%;
    }
    #closeCategory{
        position: absolute;
        top:3%;
        left:3%;
        background-color:#2B1B17 ;
        color: #CBAFB2;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        border: none;
    }
    .categoryRows{
        margin-top: 15%;
    }
    
